 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 874px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 46px 424px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 46px 570px 0 0;
}

.u-section-1 .u-image-1 {
  width: 404px;
  height: 606px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -349px 83px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 59px;
    margin-right: 224px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 447px;
  }

  .u-section-1 .u-image-1 {
    width: 327px;
    height: 462px;
    margin-top: -346px;
    margin-right: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 360px;
  }

  .u-section-1 .u-image-1 {
    width: 307px;
    height: 461px;
    margin-top: -290px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 19px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 180px;
  }

  .u-section-1 .u-image-1 {
    width: 250px;
    height: 375px;
    margin-top: 8px;
    margin-right: 20px;
    margin-bottom: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 25px;
    margin-right: -16px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 228px;
    height: 342px;
    margin-right: auto;
    margin-bottom: 25px;
  }
}